NEXT_PUBLIC_AHIN_ENV=production
NEXT_PUBLIC_AHIN_TARGET_DOMAIN=ahin.io
NEXT_PUBLIC_AHIN_GATE_MODE=live
NEXT_PUBLIC_ENABLE_MAINNET_BURN=true
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_LIFE_PLUS_CA=7YdwpERJjzw7UVojxLpvu5ycKBRdYaxaKn4HvoHLpump
NEXT_PUBLIC_LIFE_PLUS_FOUNDATION_SOLANA_ADDRESS=J8ez8GMsHtd8x4ucd1Q1LuA1k4GJ9dHYFVoa3PpetFDu
NEXT_PUBLIC_LIFE_PLUS_MAX_SUPPLY=993953256.43115
NEXT_PUBLIC_LIFE_PLUS_DECIMALS=
JUPITER_API_URL=https://api.jup.ag
JUPITER_API_KEY=<server-only-rotated-key>
